.converter-wrapper {
  background-color: #f5f4f2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 400px;
  margin: auto;
  margin-top: 120px;
  padding: 50px;
  border-radius: 20px;
}

.inputSelect {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 5px 15px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputSelect:hover,
.inputSelect:focus {
  border-color: rgb(124, 158, 90);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.inputSelect::after {
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}

.inputSelect option {
  background-color: #fff;
  color: #333;
}

.converter-card {
  display: flex;
  flex-direction: column;
}

.converter-card > .label {
  color: black;
  margin-bottom: 5px;
}

.converter-card > .submit-section {
  display: flex;
  justify-content: center;
}

.result-wrapper {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.convertedValue {
  text-align: center;

  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% auto;

  /* color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -wrgb(19, 56, 27)ackground-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite; */

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select {
  background-image: url("/downArrow.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}
