@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

#root {
  margin: 0 auto;
  height: 100vh;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #12262f, #20373f, #203944);
  color: wheat;
  overflow: hidden;
  margin: 0;
}

h1 {
  margin: 0;
}

.logo-img {
  height: 90px;
  margin-right: 10px;
}

/** app css */
.app-wrapper {
  display: flex;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.section-converter {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 15px 30px;
}

.section-img {
  display: flex;
  justify-content: center;
  background-color: #e5d4b7;
  flex: 2;
}

.section-img > img {
  width: 75%;
  background-size: cover;
  object-fit: contain;
}

@media only screen and (max-width: 880px) {
  .converter-wrapper {
    width: 90%;
    padding: 40px 20px 0 20px;
    margin-top: 50px;
  }
  .section-img {
    display: none;
  }
  .section-converter {
    margin: 10px;
  }
}
